.simp-simple-header-heading {
    margin-bottom: 20px;
    color: black;
    background-color: aqua;
    display: block;
    font-size: large;
}

.SliderMainContainer{
width: 100vw;
height: fit-content;
overflow: hidden;
position: relative;
}
.Backwards, .Forwards{
    height: 10%;
    width: auto;
color: black;
font-weight: bold;
cursor: pointer;
z-index: 500;
}
.Backwards{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%);
}
.Forwards{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.SliderSlidingContainer{
display: flex;
flex-direction: row;
width: fit-content;
transition: all 0.5s ease-out;
}

.ReviewContainer{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: fit-content;
}
.ReviewContainer:first-of-type{
    margin-left: 10vw;
}
.ReviewContainer:nth-child(3n) {
    margin-right: 10vw;
}
.reviewBall:first-of-type{
    margin:0;
}
.location *{
    font-size: small;
    padding: 0;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.reviewImg{
    display: block;
    background-color: cadetblue;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-right: 1rem;
    text-align: center;
    position: relative;
}
.reviewImg:after{
    content:"img";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.namePlusLocation{
    display: flex;
    flex-direction: column;
}
.imgNameLocation{
    display: flex;
    flex-direction: row;
}
.location, .name {
    display: flex;
    flex-direction: column;
}
.name *{
    padding-bottom: 0;
}
.strong{
    font-weight: bold;
}
.dotBefore::before{
    content: " • ";
}
.title{
    font-size: large;
    padding-bottom: 5px;
}
.dateOfExperience{
    padding-top: 5px;
}
.locationCSSIcon::before{
content: "📍 ";
}
.ratingPlusTitleAndText{
    margin-top: 1rem;
}
.ratingContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
.reviewBall{
    display: block;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
background-color:#00aa6c;
}
.reviewBall:first-of-type, .reviewBall:last-of-type{
    margin:0;
}
.logo{
    height: 10%;
    width: auto;
    position: absolute;
    bottom:0;
    left: 0;
    margin: 1rem;
}


